.navcustom {
	.offcanvas {
		&-start {
			width: 250px;
			background: transparent;
			border-radius: 0;
			border: 0;
		}

		&-title {
			display: flex;
			align-items: center;
			line-height: 1;
			font-family: $secondFont;

			img {
				max-width: 100%;
				width: 15px;
				margin-right: 5px;
			}
		}

		&-cover {
			background: $defaultBg;
			border-radius: 0 5px 5px 0;
			height: 100%;
		}

		&-body {
			padding: 0;
			margin-top: 20px;
			height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.navbar-nav {

				.nav-item {

					a {
						text-transform: uppercase;
						padding: 8px 10px;
						line-height: 1.5;
						display: flex;
						align-items: center;
						
						.fa {
							margin-right: 10px;
						}

						&.active, &:hover {
							@extend %active-and-dropdown;
						}
					}

					&.dropdown {
						position: unset;

						.dropdown-toggle  {
							display: flex;
							align-items: center;
							justify-content: space-between;
							&::after{
								display: none;
							}
							.fa {
								margin-right: 10px;
							}

							.fa-angle-right {
								color: #bd0e8d;
								margin-right: 0;
							}

							&.show,&:hover {
								@extend %active-and-dropdown;

								.fa-angle-right {
									color: #ffffff;
								}
							}
						}

						.dropdown-menu {
							position: absolute;
							background-color: #bd0e8d;
							color: #fff;
							top: 0;
							left: 245px;
							padding-left: 5px;
							height: 100%;
							margin: 0;
							border: 0;
							width: 230px;
							border-radius: 0 5px 5px 0;
							z-index: -1;
							animation: move;
							animation-duration: 300ms;
							animation-iteration-count: linear;

							.top-button {
								width: 100%;
								padding: 10px;
								position: relative;

								.btn-close {
									right: 10px;
									position: absolute;
									top: 0;
									filter: brightness(1) invert(1);
								}

								.btn-all-other {
									background: rgba($white,0.5);
									border-radius: 50px;
									width: 100%;
									margin-top: 10px;
									line-height: 1;
									justify-content: center;
									color: white;
								}
							}

							ul {
								list-style: none;
								padding-left: 0;

								li {

									a {
										&.dropdown-item {
											border-bottom: 1px solid #00000050;
											color: #fff;
											&:hover {
												background: #f9ca0a;  /* fallback for old browsers */
												background: -webkit-linear-gradient(to bottom, #ff7733, #f9ca0a);  /* Chrome 10-25, Safari 5.1-6 */
												background: linear-gradient(to bottom, #ff7733, #f9ca0a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

											}
										}
									}

								}
							}
						}
					}
				}
			}
		}
	}
	.btn-close {
		width: 10px;
		height: 10px;
		padding: 0;
		top: -10px;
		position: relative;
		right: 3px;
	}
	.chat-signup {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.btn {
			width: 100%;
			max-width: calc(100% - 30%);

			&-signup {
				border: 2px solid #000;
				border-radius: 50px;
			}

			&-chatus {
				margin-top: 20px;
				position: relative;
				background: #efefef;
				border-radius: 10px;

				span {
					position: absolute;
					top: -11px;
					left: 50%;
					width: 25px;
					transform: translateX(-50%);
					width: 20px;
				}
			}
		}
	}
	hr{
		color: lightgray;
		margin-left: 10%;
		margin-right: 10%;
	}
}

@keyframes move {
	from {
		left: -250px;
		opacity: 0;
	}
	to {
		left: 245px;
		opacity: 1;
	}
}
