@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "mixins";


$defaultFont:'Poppins', sans-serif;
$secondFont:'Bebas Neue', cursive;

$white:#ffffff;
$defaultBg:#ffffff;
$black:#222328;

$theme-color: #101820;
$theme-color2: #9ABEAA;

